{% extends 'Kiosk/base.html' %}
{% load static %}

{% block content %}


<table class="table table-striped">
  <thead>
      <th scope="col"> Name </th>
      <th scope="col"> Address </th>
      <th scope="col"> City </th>
      <th scope="col"> View Details </th>
  </thead>
  <tbody>
      {% for d in Customer %}
      <tr>
          <td> {{ d.name }} </td>
          <td> {{ d.address }} </td>
          <td> {{ d.city }} </td>
          <td> <a href="{% url 'customer_detail' pk=d.pk %}"><dutton type="button" class="btn btn-secondary">View Details</button></a> </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<a href="{% url 'add_customer' %}"><button type="button" class="btn btn-primary">Add Customer</button>


{% endblock %}