{% extends 'Kiosk/base.html' %}
{% load static %}

{% block content %}


<table class="table table-striped">
    <thead>
        <th scope="col"> Name </th>
        <th scope="col"> Address </th>
        <th scope="col"> City </th>
        
    </thead>
    <tbody>
        
        <tr>
            <td> {{ d.name }} </td>
            <td> {{ d.address }} </td>
            <td> {{ d.city }} </td>
            
            
        </tr>
        
    </tbody>
  </table>
  <a href="{% url 'customer_update' pk=d.pk %}"><dutton type="button" class="btn btn-warning">Update</button></a>
    <a href="{% url 'customer_delete' pk=d.pk %}"><dutton type="button" onclick="yeetdelete()" class="btn btn-danger">Delete</button</a>
    <a href="{% url 'customer' %}"><dutton type="button" class="btn btn-outline-danger">Back</button></a>

{% endblock %}