{% extends 'Kiosk/base.html' %}
{% load static %}
	


{% block content %}

<form action="{% url 'food_update' pk=d.pk %}" method="POST">{% csrf_token %}
<div>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="{{d.name}}" >
</div>
    <label for="desc">Description: </label>
    <input type="text" name="desc" id="desc" value="{{d.description}}">
<div>
    <label for="price">Price: </label>
    <input type="number" name="price" id="price" value="{{d.price}}" min="0">
</div>

    <input type="submit">
</form>


{% endblock %} 
