{% extends 'Kiosk/base.html' %}
{% load static %}

{% block content %}


<table class="table table-striped">
    <thead>
        <th scope="col"> Name </th>
        <th scope="col"> Description </th>
        <th scope="col"> Price </th>
        <th scope="col"> Created at </th>
        
    </thead>
    <tbody>
        
        <tr>
            <td> {{ d.name }} </td>
            <td> {{ d.description }} </td>
            <td> {{ d.price }} </td>
            <td> {{ d.created_at}} </td>
            
        </tr>
        
    </tbody>
  </table>
  <a href="{% url 'food_update' pk=d.pk %}"><button type="button" class="btn btn-warning">Update</button>    
    <a href="{% url 'food_delete' pk=d.pk %}" onclick="yeetdelete()" class="btn btn-danger">Delete</a>

    <a href="{% url 'food' %}"><dutton type="button" class="btn btn-outline-danger">Back</button></a>
        
{% endblock %}
