{% extends 'Kiosk/base.html' %}
{% load static %}

{% block content %}


<table class="table table-striped">
  <thead>
      <th scope="col"> Name </th>
      <th scope="col"> Description </th>
      <th scope="col"> Price </th>
      <th scope="col"> Created at </th>
      <th scope="col"> View Details </th>
  </thead>
  <tbody>
      {% for d in Food %}
      <tr>
          <td> {{ d.name }} </td>
          <td> {{ d.description }} </td>
          <td> {{ d.price }} </td>
          <td> {{ d.created_at}} </td>
          <td> <a href="{% url 'food_detail' pk=d.pk %}"><dutton type="button" class="btn btn-secondary">View Details</button></a> </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<a href="{% url 'add_food' %}"><button type="button" class="btn btn-primary">Add Food</button>

{% endblock %}
