{% extends 'Kiosk/base.html' %}
{% load static %}

{% block content %}

<h1><img id="logintext" src="{% static '/img/loginlogo.png' %}"> </h1>

<div id="loginboxes"> 
<form action="{% url 'login' %}" method="POST">{% csrf_token %}
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">

    <label for="password">Password: </label>
    <input type="password"name="password" id="password" minlength="6">
    
    <input class="btn btn-primary" type="submit" value="Submit">

<a href="{% url 'accountcreation' %}">
    <button type="button" class="btn btn-danger">Signup</button>
</a>

</form>
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}