{% extends 'Kiosk/base.html' %}
{% load static %}

{% block content %}


<table class="table table-striped">
  <thead>
      <th scope="col"> Customers </th>
      <th scope="col"> Food </th>
      <th scope="col"> Date Ordered </th>
      <th scope="col"> View Details </th>
  </thead>
  <tbody>
      {% for d in Orders %}
      <tr>
          <td> {{ d.cust_order }} </td>
          <td> {{ d.food }} </td>
          <td> {{ d.ordered_at }} </td>
          <td> <a href="{% url 'order_detail' pk=d.pk %}"><dutton type="button" class="btn btn-secondary">View Details</button></a> </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<a href="{% url 'add_order' %}"><button type="button" class="btn btn-primary">Add Order</button>


{% endblock %}
